* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #000;
}

html,
body {
    height: 100%;
}

.wrapper {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.box {
    float: left;
    width: 200%;
    height: 100%;
}

.item {
    float: left;
    width: 50%;
    height: 100%;
    transition: all 1s;
}

.list {
    width: 80%;
    margin: 0 auto;
}

.list li {
    float: left;
    width: 25%;
    height: 32px;
    list-style: none;
    visibility: visible;
}

.list li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 32px;
}
.list li.curr{
    border: 1px solid #ccc;
}


/* ---------- font ---------- */

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-left,
.iconfont-right {
    position: absolute;
    top: 38%;
    font-size: 48px;
}

.iconfont-left {
    left: 0;
}

.iconfont-right {
    right: 0;
}

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1462428035');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1462428035#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1462428035') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1462428035') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1462428035#iconfont') format('svg');
    /* iOS 4.1- */
}
